*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #181719;
    color: #fff;
    list-style: none;
}

/* Navbar */

/* .container{
    display: flex;
} */
navbar{
    margin-top: 46px;
    margin-left: 85px;
    margin-right:76px;
    margin-bottom: 171px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    font-family: 'Crimson Pro', serif;
}
.nav-list{
    margin-left: 648px;
    font-weight: bold;
}
.logo{
    display: block;
    padding: 8px;
    border: 1px solid white;
}
/* Main */
.main{
    font-family: 'Lora', serif;
    display: flex;
    
    margin-left: 77px;
    margin-right: 44px;
}
.left h1{
    font-size: 48px;
    line-height: 61px;
    
    
}
.left p{
    margin-top: 41px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 48px;
}
.read{
    display: flex;
    
}
.read-more{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat',sans-serif;
    color: #FFFFFF;
    margin-top: 5px;
    
}
.flat{
    
    color: white;
    margin-left: 15px;
    
    
    
}
.right{
    margin-left: 138px;
}
.img-2{
    border-radius: 50%;
}

.pop-up{
    margin-left: 26px;
    position: relative;
    left: 350px;
    bottom: 100px;
    background: #181719;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 410px;
    height: 189px;      
}
.info{
    display: flex;
}
.side-text{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
}

.img-2{
    margin: 14px;
}


.pop-up p{
    margin-left: 26px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.grey-text{
    color: grey;
}
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    font-family: 'Montserrat',sans-serif;
}
